[submodule "toolbox_2"]
	path = toolbox_2
	url = https://github.com/paulocv/my_tools
[submodule "toolbox"]
	path = toolbox
	url = https://github.com/paulocv/my_tools
[submodule "rtrend_tools"]
	path = rtrend_tools
	url = https://github.com/paulocv/rtrend_tools
